@charset "uft-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
  /* paleta de cor */
  --white: #fff;
  --black: #262626;
  --gray: #a49e8d;
  --green: #ceff1a;
  --orange: #ff5714;
  --purple: #731dd8;
  /* fontes */
  --fontBelove: 'Belove';
  --fontSegeo: 'Segoe UI';

}
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--white);
}
html{
  display: flex;
  justify-content: center;
}
body{
  width: 85vw;
  background-color: var(--black);
}
header{
  margin: auto;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1#logo{
  font-family: 'Belove', sans-serif;
  font-weight: 400;
  font-size: 2.4em;

  color: var(--green);
  cursor: context-menu;
}
nav > ul{
  display: flex;
}
nav > ul > li{
  list-style: none;
}
a{
  color: var(--white);
  text-decoration: none;
}
li > a{
  /* font-family: ; */
  font-weight: normal;
  font-size: 1.1em;
  text-decoration: none;
  color: var(--gray);
  padding: 20px;
}
#menuIcon > .material-symbols-outlined{
  color: var(--gray);
  font-size: 2em;
}

#lines{
  position: absolute;
  top: 0px;
  right: 15%;
  width: 76px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: -10;
}
#lines > span:nth-child(1){
  width: 10px;
  height: 40%;
  background-color: var(--green);
}
#lines > span:nth-child(2){
  width: 10px;
  height: 70%;
  background-color: var(--orange);
}
#lines > span:nth-child(3){
  width: 10px;
  height: 60%;
  background-color: var(--purple);
}

/* Section_Inicio */
#inicio{
  width: 80%;
  height: 100vh;
  padding: 15% 0;
}
#apresentacao{
  color: white;
  font-family: var(--fontSegeo), Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.5em;
}
#apresentacao > strong{
  font-size: 2em;
}
#devWeb{
  width: 40%;
  text-align: center;
  color: var(--green);
  font-family: var(--fontSegeo), Verdana, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
.descricao{
  width: 40%;
  padding: 10px 0 20px 0;
  font-family: var(--fontSegeo), Verdana, sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: var(--gray);
}
.descricao:hover{
  color: var(--white);
  transition: color 2s;
}
#linkedIn{
  width: 150px;
  height: 40px;
  margin-left: 100px;
  margin-top: 10px;
  border: none;
  background-color: var(--green);
  border-radius: 25px;
}
#linkedIn > a, div, span{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: var(--fontSegeo), Verdana, sans-serif;        
  font-weight: 500;
}
#linkedIn:hover{
  transition: .5s;
  transform: scale(1.1);
  opacity: .9;
}
.scrollDown > span{
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: 2em;
  transform: translateX(-50%);
  color: var(--green);
}
#projetos{
  position: relative !important; 
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#projetos > #right{
  position: relative;
  width: 100%;
  display: block;
  align-self: flex-end;
  margin-right: 50px;
}
.tituloSections{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 5em;
  line-height: 115px;
  color: var(--white);
  text-align: center;
}
#h2Projetos::before{
  position: absolute;
  top: 20px;
  padding-left: 60px;
  content: "Projetos";
  font-family: 'Belove';
  font-size: 5rem;
  line-height: 112px;
  color: var(--green);
}
#h2sobreMim{
  position: relative;
}
#h2sobreMim::before{
  position: absolute;
  top: 20px;
  padding-left: 60px;
  content: 'sobre mim';
  font-family: 'Belove';
  font-size: 5rem;
  line-height: 112px;
  color: var(--orange);
}
#h2Contato {
  position: relative;
}
#h2Contato::before{
  position: absolute;
  top: 20px;
  padding-left: 60px;
  content: 'sobre mim';
  font-family: 'Belove';
  font-size: 5rem;
  line-height: 112px;
  color: var(--purple);
}
.descSection{
  color: var(--white);
  font-size: 1.3em;
  font-weight: lighter;
  text-align: justify;
  text-indent: 20px;
}
.descSection > abbr{
  text-decoration: none;
}
#cards{
  position: absolute;
  left: 0;
  display: flex;
  overflow-x: scroll;
  width: 60vw;
  border: 1px solid red;
}
.card{
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: var(--black);
  border: 1px solid var(--green);
  border-radius: 20px;

  margin: 10px 20px;
}
.card > h3 , p{
  color: var(--white);
}


#lines1{
  position: absolute;
  width: 76px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  top: -100px;
  left: 15%;
  z-index: -9;
}
#lines1> span:nth-child(1) {
  width: 10px;
  height: 70%;
  background-color: var(--orange);
}
#lines1> span:nth-child(2) {
  width: 10px;
  height: 90%;
  background-color: var(--green);
}
#lines1> span:nth-child(3) {
  width: 10px;
  height: 40%;
  background-color: var(--purple);
}
/*
#github {
  width: 190px;
  height: 37.5px;
  margin: 100px 50px 0 30px;
  border: none;
  background-color: var(--green);
  border-radius: 20px;
  align-self: flex-end;
}
#github > a, div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  font-family: 'Segoe UI', Verdana, sans-serif;
  font-weight: 500;
}



footer{
  position: relative;
  width: 100%;
  overflow: hidden;

}
footer > h1{
  position: relative;
  color: var(--black);
  -webkit-text-stroke: 3px var(--purple);
  text-align: center;

  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 121.253px;
}
footer > h1::before{
  position: absolute;
  top: 60px;
  padding-left: 60px;
  text-align: center;
  -webkit-text-stroke: 0px;
  content: 'por chegar até aqui';
  font-family: 'Belove';
  font-size: 4rem;
  color: var(--green);
}
footer > #divEnd{
  position: absolute;
  bottom: 0;
  left: -0;
  width: 90vw;
  height: 80px;
  display: flex;
  background-color: var(--orange);
    overflow: hidden;
} */