@charset "uft-8";
@import url(index.css);
:root {
  /* paleta de cor */
  --white: #fff;
  --black: #262626;
  --gray: #a49e8d;
  --green: #ceff1a;
  --orange: #ff5714;
  --purple: #731dd8;
  /* fontes */
  --fontBelove: 'Befont';
  --fontFooter: 'fontSans';
  --fontbeba: 'bebas';
  --fontSegeo: 'SegeoLight';
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#sectMenu{
  position: relative;
  top: 0;
  left: +100vw;
  z-index: 15;
  width: 200vw;
  height: 100vh;
  display: none;
  animation: translateSection 1s ease-out both;
}
#flexDiv{
  display: flex;
}
#transition{
  width: 100vw;
  height: 100vh;
  display: flex;
}
#transition > span{
  width: 50%;
  height: 100%;
  background-color: var(--orange);
}
#transition> span:nth-child(2){
  width: 30%;
  height: 100%;
  background-color: var(--purple);
}
#transition> span:nth-child(3){
  width: 20%;
  height: 100%;
  background-color: var(--green);
}
.menuElement{
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray);
  box-shadow: 300px 0 var(--gray);
}
.menuElement > h1{
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  font-size: 4em;
}
.menuElement>nav>ul {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menuElement>nav>ul>li {
  color: var(--white);
  padding: 10px 0;
  font-size: 2em;
  letter-spacing: 1px;
}

.menuElement > nav > ul > li > a{
  color: var(--white);
}

#footerMenu {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

#footerMenu > div > a > img{
  padding: 10px;
  margin: 30px;
}

#footerMenu > div > a > img:hover {
  opacity: .9;
  transform: scale(1.2);
  transition: .7s;
}

#footerMenu>span {
  padding: 20px;
  font-family: var(--fontFooter), monospace, sans-serif;
  font-size: 1.5em;
  color: black;
}

.exit{
  overflow: inherit;
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 3em;
  color: black;
}
.exit:hover{
  transition: .5s;
  text-shadow: 3px 3px var(--orange);

}

@keyframes translateSection {
  from{
    transform: scale(2);
  }
  to{
    left: -108vw;
    transform: scale(1);
  } 
}